agents/Lead-scrapper-2/Lead_Research.json
{
  "name": "Lead Research",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        20
      ],
      "id": "fdff5466-3269-4017-96b1-64249e53f3d3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-f1db6c.stack.tryrelevance.com/latest/studios/27333a8d-b944-48c4-bd4c-f162de4e44a2/trigger_webhook?project=b3ce55f2c7d1-4e61-b62c-08ed5e4719aa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<API-KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"linkedin_url\":\"{{ $json.query }}\",\n\"last_x_days\":30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        20
      ],
      "id": "3ce12a28-483e-454f-8860-2e5d33dcaafd",
      "name": "Scrape Profiles + Posts - Relevance AI",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a researcher in a business development team. Your job is to find as much research as you can about the prospect company. You must ensure your research is for the correct company and is highly accurate. Your research must always include what the prospect company does.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find as much info as you can about {{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.company }} }} This is their website URL: {{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.company_website }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        20
      ],
      "id": "9d74e226-ba04-4e87-9cd6-f8491b8628b8",
      "name": "Research Company - Perplexity",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vYCKRRAE34bxaXvI",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "content": "# Research Prospect\n- LinkedIn \n- Online \n- TrustPilot Reviews\n",
        "height": 360,
        "width": 2020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -120
      ],
      "typeVersion": 1,
      "id": "5e8d7697-27c3-4c93-81a9-805ae4497a76",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/nikita-sviridenko~trustpilot-reviews-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"companyDomain\": \"{{ $('Scrape Profiles + Posts - Relevance AI').item.json.linkedin_profile_details_data.company_domain }}\",\n    \"count\": 5,\n    \"replies\": false,\n    \"sort\": \"recency\",\n    \"stars\": [\n        \"1\",\n        \"2\",\n        \"3\"\n    ],\n    \"startPage\": 1,\n    \"verified\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        20
      ],
      "id": "b683356f-3538-49dc-9e3d-2ca493b0d54f",
      "name": "TrustPilot Reviews (1-3 Stars)",
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "Tc59qzibw17Sx6IY",
          "name": "APIFY - Trust Pilot Reviews "
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n// Accessing directly since the object is at the root level\nconst experiences = input.linkedin_profile_details_data.experiences || [];\n\n// Build the HTML table rows string\nlet htmlRows = '';\nexperiences.forEach(exp => {\n  htmlRows += `<tr>\n      <td>${exp.company}</td>\n      <td>${exp.title}</td>\n      <td>${exp.date_range}</td>\n      <td>${exp.location}</td>\n    </tr>`;\n});\n\n// Return a new object that only contains the experiencesTable field\nreturn [{ json: { experiencesTable: htmlRows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        20
      ],
      "id": "f5d638a7-9a59-4c27-9268-d8fc074ad1f8",
      "name": "Experiences"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n// Accessing directly since the object is at the root level\nconst educations = input.linkedin_profile_details_data.educations || [];\n// Build the HTML table rows for education\nlet educationRows = '';\neducations.forEach(edu => {\n  educationRows += `<tr>\n      <td>${edu.school}</td>\n      <td>${edu.degree}</td>\n      <td>${edu.field_of_study}</td>\n    </tr>`;\n});\n\n// Return a new object that only contains the educationTable key\nreturn [{ json: { educationTable: educationRows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        20
      ],
      "id": "6620b554-5131-45da-852a-8bb7a7b5615d",
      "name": "Education"
    },
    {
      "parameters": {
        "jsCode": "// Initialize an empty string for reviews HTML\nlet reviewsHTML = '';\n\n// Loop over each item (each review)\nitems.forEach(item => {\n  const review = item.json; // each item is a review object\n  reviewsHTML += `<div class=\"review-card\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">`;\n  reviewsHTML += `<h3>${review.reviewHeadline}</h3>`;\n  reviewsHTML += `<p><strong>Rating:</strong> ${review.ratingValue}</p>`;\n  // Format the date nicely; adjust locale as needed\n  const date = new Date(review.datePublished);\n  reviewsHTML += `<p><strong>Date:</strong> ${date.toLocaleDateString()}</p>`;\n  reviewsHTML += `<p>${review.reviewBody}</p>`;\n  if (review.replyMessage) {\n    reviewsHTML += `<p><strong>Reply:</strong> ${review.replyMessage}</p>`;\n  }\n  reviewsHTML += `</div>`;\n});\n\n// Return a new JSON object with the combined reviews HTML\nreturn [{ json: { reviewsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        20
      ],
      "id": "abf4b6ae-862c-4c06-a6ec-618aa7915402",
      "name": "Reviews"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n\n// Try to get posts from output, then fallback to top-level.\nconst posts = (input.output && input.output.last_30_days_posts_transformed) \n  || input.last_30_days_posts_transformed \n  || [];\n\n// Build HTML for each LinkedIn post\nlet postsHTML = '';\nif (Array.isArray(posts)) {\n  posts.forEach(post => {\n    postsHTML += `<div class=\"linkedin-post\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">\n      <p>${post.user_post}</p>\n      <p><em>Posted on: ${post.posted}</em></p>\n    </div>`;\n  });\n}\n\n// Return only the generated HTML\nreturn [{ json: { postsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        20
      ],
      "id": "400b1577-ded7-4dbb-9a1c-db45de5e7140",
      "name": "Posts"
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the JSON from the previous node\nconst input = items[0].json;\n\n// Extract the citations array; default to an empty array if not present\nconst citations = input.citations || [];\n\n// Build an HTML unordered list for the citations\nlet citationsHTML = '<ul>';\nif (Array.isArray(citations)) {\n  citations.forEach(citation => {\n    citationsHTML += `<li><a href=\"${citation}\" target=\"_blank\">${citation}</a></li>`;\n  });\n}\ncitationsHTML += '</ul>';\n\n// Return a new JSON object containing the generated HTML snippet\nreturn [{ json: { citationsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        20
      ],
      "id": "eff1c380-9673-433c-b5ee-b70ae815360d",
      "name": "Citations"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the business development team at Kamexa which is an AI consultancy. \n\nWhen a new leads book a consultation with Kamexa, your team researches the leads and provides the research + extracted insights to the consultants so they can read it prior to the consult. \n\nYour job is to create the following sections from the research:\n\n- Personal Profile: The personal profile is a one paragraph summary of the person (lead) extracted from researching their LinkedIn profile.\n- Interests: In this section you must identify a few of the leads interests from their most recent LinkedIn posts + their LinkedIn profile. \n- Unique Facts: In this section you must extract at least 2 unique facts about the lead that tells them you've really put time to research who they are. These facts should be things that are unique to the lead and out of the ordinary.\n- Company Profile: The company profile is a one paragraph summary of the company the person represents, extracted from researching their company LinkedIn profile and available information on the web. \n\nYour output must be in HTML, following this format: \n\nPerson Profile (Heading 2)\n[Details]\n\nCompany Profile (Heading 2)\n[Details]\n\nInterests (Heading 2)\n[List of interests in dot point format]\n\nUnique Facts (Heading 2)\n[List of unique facts in dot point format]\n\n\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document. Just make sure its in HTML language.\n\nCreate this output for the following research: \n\nLinkedIn Profile Research (in JSON format): \n{{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.toJsonString() }}\n\nMost Recent LinkedIn Posts: \n{{ $('Scrape Profiles + Posts - Relevance AI').last().json.last_30_days_posts_transformed }}\n\nWeb Research: \n{{ $('Research Company - Perplexity').last().json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2300,
        20
      ],
      "id": "7f775144-6148-4503-9c76-1b01ddade45f",
      "name": "Person + Company Profile",
      "credentials": {
        "openAiApi": {
          "id": "FyKbx1SoIgWi7M7F",
          "name": "OpenAI-Kia"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the business development team at Kamexa which is an AI consultancy. \n\nWhen new leads book a consultation with Kamexa, your team researches the leads and provides the research + extracted insights to the consultants so they can read it prior the consult. \n\nAs an ice breaker for each call, [YOUR-NAME], which is Kamexa's AI consultant likes to point to a similarity between himself and the lead. This way the lead feels more comfortable talking to [YOUR-NAME] as a friend, rather than a stranger. \n\nTo find these similarities you must compare [YOUR-NAME]'s LinkedIn profile to the leads LinkedIn profile. Look for any similarities you can find, including but not limited to education, experience, location, interests and so on. \n\nYou might also not find any similarities. In this case then output No Similarities Found in the details section of your output. \n\nYour output must be in the following HTML format: \n\nSimilarities (heading 2)\n[Details in dot points with one similarity on each dot point]\n\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document.\n\nThe Leads LinkedIn Profile: \n{{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.toJsonString() }}\n\n[YOUR-NAME]'s LinkedIn Profile: \n[INPUT YOUR DETAILS HERE - YOU CAN SCRAPE YOUR PROFILE USING THIS WORKFLOW AND HARDCODE THE INFO HERE]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2680,
        20
      ],
      "id": "9f5b166a-ce23-4473-88dc-63a6f0fe5502",
      "name": "Similarities",
      "credentials": {
        "openAiApi": {
          "id": "FyKbx1SoIgWi7M7F",
          "name": "OpenAI-Kia"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the business development team at Kamexa. Kamexa is an AI Automation agency that provides the following services: \n\n- AI Consulting: Kamexa provides consultations to businesses looking to implement AI. \n- Process Automation: Kamexa automates processes that are repetitive, time consuming, high volume or error prone. These repetitive proccesses are automated with traditional rule based automations. \n- AI SaaS Development: For businesses that can automate their entire service, Kamexa creates a SaaS platform so that they can provide their services over the cloud in a one to many fashion. \n- AI Agent Development: Kamexa develops custom AI agents that can handle less repetitive tasks autonomously. Considering the current capabilities of AI agents, the tasks that they can complete have to be simple in scope. \n\nKamexa's AI consultants are the first point of contact for a new lead. So when a new lead is interested in AI Automation solutions, they book a free call with Kamexa's AI consultants. The consultants are then responsible for exploring the highest ROI opportunities for automation.\n\nOnce a call is booked, your team does in depth research on the lead so that the consultants can read through it in preparation for the consultation. \n\nAs part of the business development team you are provided with the following research: \n\n- LinkedIn Profile: This is the result of scraping the leads LinkedIn profile. This will give you the leads bio, experiences, education and company description.\n- LinkedIn Posts: This gives you the leads LinkedIn posts over the past 30 days. \n- Company Google Search: This gives you the research found from searching the leads company on Google and their website. \n- Reviews: This gives you the most recent bad reviews the leads company received on TrustPilot. \n\nYour job is to analyse the research and extract following information: \n\n- Pain Points: By looking through the companies negative reviews and also considering their line of business and the leads position in the company, you must identify the biggest pain points the leads company could be facing. \n- Solutions to Pain Points: In this section you must come up with solutions Kamexa can offer to solve each of the pain points completely. \n- Highest ROI Automation Opportunities: Considering the info you have about the lead and his company, you must come up with the 5 highest ROI automation opportunities that Kamexa can offer them. These automations have to be realisitic, yet extremely high ROI. Sort them in order of best opportunity at the top of the list.  \n\nThe insights you extract must be in HTML format as they will be going in the middle of a HTML document. \n\nPlease use the following output format: \n\nOpportunities (Heading 1)\n\nPain Points and Solutions: (Heading 2)\n[Table with 3 columns: \n1. Pain Point: Explains the pain point theyre facing. \n2. Evidence: Explains why we think this is the case. \n3. Solution: Explains the solution to the pain point by Kamexa.\nEach row is a new pain point.]\n\nAutomation Opportunities: (Heading 2)\n[5 Highest ROI automation opportunities for the leads company sorted with the best solution at the top. This must be in dotpoint format:\n- Opportunity#1 Name: Details\n- Opportunity#2 Name: Details\n...\n\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document.\n\nSomeone just booked a call. Here's the research your team found. Create the output as per the above requirements: \n\n\nLinkedIn Profile Scraped Summary in HTML format: \n{{ $('Person + Company Profile').last().json.message.content }}\n\nWeb Research Results for Leads Company: \n{{ $('Research Company - Perplexity').last().json.choices[0].message.content }} \n\nRecent Bad Reviews on TrustPilot for Leads Company in HTML format: \n{{ $('Reviews').last().json.reviewsHTML }}\n(if there is no reviews then just create the pain points by considering the leads company and job title)\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3020,
        20
      ],
      "id": "f6b1894a-27cc-449e-aae4-0ac5b208d30c",
      "name": "Pain Points + Solutions",
      "credentials": {
        "openAiApi": {
          "id": "FyKbx1SoIgWi7M7F",
          "name": "OpenAI-Kia"
        }
      }
    },
    {
      "parameters": {
        "content": "# Analysis\n- Summary \n- Similarities \n- Pain Points + Solutions\n",
        "height": 360,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        -120
      ],
      "typeVersion": 1,
      "id": "8fd908b9-ed3e-47ff-9c12-7807902456f6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Create Report\n",
        "height": 360,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3320,
        -120
      ],
      "typeVersion": 1,
      "id": "c219e295-d941-4bac-9824-99a12bd25d6b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Email Report\n",
        "height": 360,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3640,
        -120
      ],
      "typeVersion": 1,
      "id": "3fdf469b-678c-44cd-a7b7-475852208040",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Consultant Research Report</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        margin: 20px;\n        line-height: 1.6;\n        color: #333;\n      }\n      h1, h2, h3 {\n        color: #222;\n      }\n      .section {\n        margin-bottom: 40px;\n      }\n      .profile-details p {\n        margin: 5px 0;\n      }\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 10px;\n      }\n      th, td {\n        border: 1px solid #ddd;\n        padding: 8px;\n        vertical-align: top;\n      }\n      th {\n        background-color: #f2f2f2;\n      }\n      .card {\n        border: 1px solid #ddd;\n        padding: 10px;\n        margin-bottom: 10px;\n        border-radius: 4px;\n      }\n      a {\n        color: #1a0dab;\n        text-decoration: none;\n      }\n      a:hover {\n        text-decoration: underline;\n      }\n      /* New styles for the header images container */\n      .header-images {\n        display: flex;\n        margin-bottom: 20px;\n      }\n      .header-images img {\n        width: 50%;\n        height: auto;\n        max-width: 300px;\n\n      }\n    </style>\n  </head>\n  <body>\n        <!-- Header Images -->\n    <div class=\"header-images\">\n      <img src=\"{{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.profile_image_url }}\" alt=\"Profile Picture\">\n      <img src=\"{{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.company_logo_url }}\" alt=\"Company Logo\">\n    </div>\n\n    <!-- Analysis & Key Facts -->\n    <div class=\"section\" id=\"analysis\">\n      <h1>Analysis & Key Facts</h1>\n      {{ $('Person + Company Profile').last().json.message.content }}\n      {{ $('Similarities').last().json.message.content }}\n      {{ $('Pain Points + Solutions').last().json.message.content }}\n    </div>\n\n    <!-- Detailed Research Report -->\n    <div class=\"section\" id=\"research-report\">\n      <h1>Research Report</h1>\n      \n      <!-- LinkedIn Profile Details -->\n      <div id=\"linkedin-profile\" class=\"profile-details\">\n        <h2>LinkedIn Profile Details</h2>\n        <p><strong>Name:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.full_name }}</p>\n        <p><strong>Headline:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.headline }}</p>\n        <p><strong>Location:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.location }}</p>\n        <p><strong>About:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.about }}</p>\n        <p><strong>City:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.city }}</p>\n        <p><strong>Country:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.country }}</p>\n        <p><strong>Job Title:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.job_title }}</p>\n        <p><strong>Company:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.company }}</p>\n        <p><strong>Company Description:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.company_description }}</p>\n        <p>\n          <strong>Company Website:</strong>\n          <a href=\"{{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company_website }}\" target=\"_blank\">\n            {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.company_website }}\n          </a>\n        </p>\n        <p><strong>Industry:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.company_industry }}</p>\n        <p>\n          <strong>LinkedIn URL:</strong>\n          <a href=\"{{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.linkedin_url }}\" target=\"_blank\">\n            {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.linkedin_profile_details_data.linkedin_url }}\n          </a>\n        </p>\n      </div>\n      \n      <!-- Education -->\n      <div id=\"education\">\n        <h2>Education</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>School</th>\n              <th>Degree</th>\n              <th>Field of Study</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $node[\"Education\"].json.educationTable }}\n          </tbody>\n        </table>\n      </div>\n      \n      <!-- Experience -->\n      <div id=\"experience\">\n        <h2>Experience</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>Company</th>\n              <th>Title</th>\n              <th>Date Range</th>\n              <th>Location</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $node[\"Experiences\"].json.experiencesTable }}\n          </tbody>\n        </table>\n      </div>\n      \n      <!-- Recent LinkedIn Posts -->\n      <div id=\"linkedin-posts\">\n        <h2>Recent LinkedIn Posts</h2>\n        {{ $node[\"Posts\"].json.postsHTML }}\n      </div>\n      \n      <!-- Google Research Analysis -->\n      <div id=\"google-research\">\n        <h2>Google Research Analysis</h2>\n        <p>{{ $node[\"Research Company - Perplexity\"].json.choices[0].message.content }}</p>\n      </div>\n      \n      <!-- Trustpilot Reviews -->\n      <div id=\"trustpilot-reviews\">\n        <h2>Trustpilot Reviews</h2>\n        {{ $node[\"Reviews\"].json.reviewsHTML }}\n      </div>\n      \n      <!-- Citations -->\n      <div id=\"citations\">\n        <h2>Citations</h2>\n        {{ $node[\"Citations\"].json.citationsHTML }}\n      </div>\n      \n    </div>\n  </body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3440,
        20
      ],
      "id": "b113c4bf-a2cd-44b7-87a3-105546088df3",
      "name": "Create HTML Report"
    },
    {
      "parameters": {
        "sendTo": "kiaghasem.dev@gmail.com",
        "subject": "={{ $('Scrape Profiles + Posts - Relevance AI').last().json.linkedin_profile_details_data.full_name }} Research Report",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3740,
        20
      ],
      "id": "43cd5617-5fc4-4ca7-9526-aad8d9218871",
      "name": "Email Report",
      "webhookId": "048324ca-98a3-4421-833b-cbdfcc45e4bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Uu8XPIiFF4ac0WJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg",
          "mode": "list",
          "cachedResultName": "Lead Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('When Executed by Another Workflow').first().json.query }}",
            "Research Report": "={{ $('Create HTML Report').item.json.html }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country ",
              "displayName": "Country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Report",
              "displayName": "Research Report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3960,
        20
      ],
      "id": "74eebf8c-d31b-4c2f-8df1-d583a436353c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "45bXNcqGMzyDwxsk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53050079-f4f6-4e50-b778-d885a6125638",
              "name": "success",
              "value": "\"Research is now complete. Please check your email for the full report\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4180,
        20
      ],
      "id": "44e02447-61af-421f-a6d6-d815f0bc287d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Scrape Profiles + Posts - Relevance AI": {
      "main": [
        [
          {
            "node": "Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Company - Perplexity": {
      "main": [
        [
          {
            "node": "Citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TrustPilot Reviews (1-3 Stars)": {
      "main": [
        [
          {
            "node": "Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experiences": {
      "main": [
        [
          {
            "node": "Education",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education": {
      "main": [
        [
          {
            "node": "Research Company - Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews": {
      "main": [
        [
          {
            "node": "Person + Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts": {
      "main": [
        [
          {
            "node": "Experiences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citations": {
      "main": [
        [
          {
            "node": "TrustPilot Reviews (1-3 Stars)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person + Company Profile": {
      "main": [
        [
          {
            "node": "Similarities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Similarities": {
      "main": [
        [
          {
            "node": "Pain Points + Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pain Points + Solutions": {
      "main": [
        [
          {
            "node": "Create HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML Report": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Report": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Scrape Profiles + Posts - Relevance AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c52b2d5-c09c-4aac-85fd-5a9eec0e8f7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b28d66d14f40eb70ce76982ff5a26f67c6ff8a3b5e252b0e32973f57f9e31707"
  },
  "id": "khkVliajNkTC7PEQ",
  "tags": []
}